@charset "UTF-8";

// 1. Configuration and helpers
@import 'abstracts/variables',
'abstracts/functions',
'abstracts/mixins',
'abstracts/animations';

// 2. Vendors
@import 'vendors/normalize';

// 3. Base stuff
@import 'base/base',
'base/fonts',
'base/typography',
'base/helpers',
'base/logo';

// 4. Layout-related sections
@import 'layout/header',
'layout/nav',
'layout/main',
'layout/footer';

// 5. Components
@import 'components/tags',
'components/medias',
'components/desc',
'components/card';

// 6. Page-specific styles
@import 'pages/home';

// 7. Themes
@import 'themes/default';