* {
  margin: 0;
  padding: 0px;
}

* {
  font-family: 'DM sans';
}

header img {
  margin-left: 2em;
  width: 100%;
  margin-right: 0em;
}

header a {
  width: 300px;
}

header {
  display: flex;
  width: 70%;
}

nav {
  width: 40%;
  margin-left: 20%;
  display: flex;
  align-items: center;
  max-width: 740px;
}

body {
  position: relative;
}

#title {
  position: absolute;
  right: 5em;
  top: 0.7em;
  color: #901C1C;
}

.tags {
  cursor: pointer;
  color: #901C1C;
  font-size: 14px;
  margin-right: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.disabledTags {
  display: none;
}

.tagsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fondForm {
  position: absolute;
  left: 31%;
  top: 2%;
  height: 100%;
}

.fondForm #crossForm {
  cursor: pointer;
  font-weight: bold;
  font-size: 50px;
  color: white;
  position: absolute;
  right: 8%;
  top: 4%;
}

form {
  position: fixed;
  width: 669px;
  height: 778px;
  background-color: #DB8876;
  padding: 20px;
}

form h1 {
  font-size: 70px;
  font-weight: normal;
}

form div {
  display: flex;
  flex-direction: column;
}

form div h2 {
  font-size: 70px;
  font-weight: normal;
}

form div label {
  font-size: 30px;
  font-weight: 400;
  padding-top: 20px;
}

form div input {
  height: 50px;
  padding-left: 10px;
  font-size: x-large;
}

form div textarea {
  font-size: x-large;
  padding-top: 10px;
  height: 100px;
  padding-left: 10px;
}

form div button {
  cursor: pointer;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 22px;
  background-color: #901C1C;
  margin-top: 20px;
  align-self: start;
}

form div button:hover {
  background-color: #D3573C;
}

.bgroundForm p {
  position: fixed;
  background-color: #DB8876;
  left: 30%;
  right: 30%;
  top: 7%;
  padding-bottom: 150px;
  padding-top: 30px;
  text-align: center;
}

.bgroundForm .button {
  position: fixed;
  left: 46%;
  top: 18%;
  cursor: pointer;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 22px;
  background-color: #901C1C;
  margin-top: 20px;
  align-self: center;
}

#likes_and_price {
  position: fixed;
  width: 376px;
  height: 89px;
  right: 0;
  bottom: 0;
  background-color: #DB8876;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#likes_and_price div {
  font-weight: bold;
  font-size: 25px;
  padding-right: 10px;
}

#likes_and_price p {
  font-weight: bold;
  font-size: 25px;
}

.select-container {
  display: flex;
  width: 100%;
  margin: auto;
  height: 41px;
  margin-bottom: 135px;
}

.select-container p {
  margin-left: 4%;
  margin-right: 20px;
  font-size: 22px;
  font-weight: bold;
}

.custom-select {
  position: relative;
  font-weight: bold;
  font-size: 20px;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #901C1C;
  width: 162px;
  position: absolute;
  top: -19px;
}

.select-selected:hover {
  background-color: #D3573C;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 27px;
  right: 21px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 19px;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #901C1C;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #D3573C;
}

.bground {
  width: 100%;
  height: 100%;
}

.slider {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  background-color: white;
  padding: 50px;
}

.slider .display {
  width: 100%;
}

.slider .display video {
  width: 70%;
  height: 80%;
  position: absolute;
  right: 0%;
  left: 15%;
  top: 9%;
  bottom: 0%;
}

.slider .display img {
  max-width: 70%;
  max-height: 70vh;
  display: block;
  margin: auto;
  object-fit: cover;
}

.slider #cross {
  position: absolute;
  padding: 10px;
  top: 2%;
  right: 13%;
  color: #901C1C;
  font-weight: bold;
  font-size: 50px;
  cursor: pointer;
}

.slider .prev-slide:after {
  content: "\276C";
  color: #901C1C;
  padding: 2rem;
  font-size: 10rem;
  font-weight: bold;
  height: 10rem;
  line-height: 10rem;
  transform: translate3d(0, -50%, 0);
  cursor: pointer;
}

.slider .next-slide:after {
  content: "\276D";
  color: #901C1C;
  padding: 2rem;
  font-size: 10rem;
  font-weight: bold;
  height: 10rem;
  line-height: 10rem;
  transform: translate3d(0, -50%, 0);
  cursor: pointer;
}

.slider p {
  position: absolute;
  color: #901C1C;
  left: 15%;
  bottom: 5%;
  font-weight: bold;
  font-size: 28px;
}

.medias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 72%;
  justify-self: center;
  margin: auto;
  margin-top: 50px;
}

.medias .card_media {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 100px;
}

.medias .card_media p {
  color: #901C1C;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  left: 0%;
  bottom: 0%;
}

.medias .card_media div {
  display: flex;
  position: absolute;
  right: 0%;
  bottom: 0%;
}

.medias .card_media span {
  color: #901C1C;
  font-weight: bold;
  font-size: 20px;
}

.medias .card_media svg {
  width: 20px;
  height: 20px;
  padding-left: 10px;
  color: #901C1C;
}

.medias img, .medias video {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

#second-page {
  position: relative;
}

.photograph-header {
  display: flex;
  width: 85%;
  height: 313px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 5%;
  margin-left: 4%;
  background-color: #FAFAFA;
  padding: 20px;
  padding-left: 100px;
  border-radius: 5px;
}

.photograph-header h1 {
  margin-top: 50px;
  color: #D3573C;
  font-size: 60px;
}

.photograph-header p {
  margin-top: 5px;
}

.photograph-header p:nth-child(2) {
  color: #901C1C;
  font-size: 30px;
}

.photograph-header p:nth-child(3) {
  margin-top: 15px;
  font-size: 22px;
}

.photograph-header p:nth-child(4) {
  opacity: 0.5;
}

.photograph-header .tags {
  margin-left: 0;
  margin-right: 10px;
  margin-top: 20px;
  font-weight: bold;
}

.photograph-header .tagsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.photograph-header img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 100%;
}

.photograph-header #buttonOpen {
  cursor: pointer;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 19px;
  background-color: #901C1C;
  margin-top: 50px;
}

.photograph-header #buttonOpen:hover {
  background-color: #D3573C;
}

.photograph-header div:nth-child(1) {
  flex: 2;
}

.photograph-header div:nth-child(2) {
  flex: 1;
}

.photograph-header div:nth-child(3) {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

article {
  margin: 50px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5px;
}

article p {
  text-align: center;
  margin-top: 5px;
}

article p:nth-child(2) {
  color: #901C1C;
  font-size: 17px;
}

article p:nth-child(3) {
  font-weight: bold;
}

article p:nth-child(4) {
  opacity: 0.5;
}

article img {
  margin: 50px 0px 0px 0px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 100%;
}

article a {
  text-decoration: none;
}

article h2 {
  margin-top: 5px;
  color: #D3573C;
  text-align: center;
  font-size: 40px;
}

article span {
  flex-direction: row;
  color: #901C1C;
  font-weight: bold;
}

article div {
  margin-top: 20px;
}
/*# sourceMappingURL=main.css.map */