#second-page{
    position: relative;
}

.photograph-header{
    display: flex;
    width: 85%;
    height: 313px;
    margin-top: 100px;
    margin-bottom : 100px;
    margin-right: 5%;
    margin-left: 4%;
    background-color: $section-color;
    padding: 20px;   
    padding-left: 100px;
    border-radius: 5px; 

    h1 {
        margin-top: 50px;
        color: $secondary-color; 
        font-size: 60px;
    }
    
    p {
        margin-top: 5px;
    }

    h2{
        color: $primary-color;
        font-size: 30px;
    }

    h3{
        margin-top: 15px;
        font-size: 22px;
    }

    p:nth-child(4){
        opacity: 0.5;
    }

    .tags{
        margin-left: 0;
        margin-right: 10px;
        margin-top: 20px;
        font-weight: bold;
    }

    .tagsList {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 100%;
    }

    #buttonOpen{
        cursor: pointer;
        width: 170px;
        height: 69px;
        border-radius: 5px;
        color: white;
        border: none;
        font-size: 19px;
        background-color: $primary-color;
        margin-top: 50px;
    }

    #buttonOpen:hover{
        background-color: $secondary-color;
    }

    div:nth-child(1){
        flex: 2;
    }

    div:nth-child(2){
        flex: 1;
    }

    div:nth-child(3){
        flex: 2;
        display: flex;
        justify-content: flex-end;
        padding-right: 100px;
    }
}

@media screen and (max-width: 1700px) {
    .photograph-header h1{
        font-size: 33px;
    }

    .tagsList {
        width: 390px;
    }

    
}

@media screen and (max-width: 1050px) {
    .photograph-header {
        width: 100%;
        margin-right: 0;
        margin-left: 0;

        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 15px;
        }

        h3 {
            font-size: 15px;
        }

        .tagsList {
            width: 390px;
        }

        div:nth-child(1) {
            width: 34%;
        }


    }
  } 


@media screen and (max-width: 900px) {
    .photograph-header {
        margin-top: 0px;
        margin-bottom: 30px;
        background-color: white;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        height: 200px;

        h1 {
            font-size: 30px;
            padding-left: 4px;
        }

        div:nth-child(3){
            padding-right: 0px;
        }
    }

    .photograph-header div:nth-child(1) {
        flex: 0;
        padding-left: 30px;
        width: 300px;
    }

    .photograph-header img{
        width: 130px;
        height: 130px;
    }


    .photograph-header #buttonOpen {
        position: fixed;
        bottom: 2%;
        z-index: 99;
        height: 50px;
        width: 250px;
        left: calc(50% - 125px)
    }
    .photograph-header .tagsList{
        width: 390px
    }

    .photograph-header h2 {
        font-size: 13px;
        padding-left: 5px;
        padding-top: 10px;
    }

    .photograph-header h3{
        font-size: 13px;
        padding-left: 5px;
    }

    .photograph-header .tags {
        cursor: pointer;
        color: $primary-color;
        font-size: 14px;
        margin-right: 5px;
        margin-left: 10px;
        margin-bottom: 5px;
        border: 0.5px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .photograph-header img{
        position: absolute;
        right: 30px;
        top: 50px;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .photograph-header img{
        right: -30px;
    }

    .medias {
        padding-left: 15%;
    }
    .photograph-header #buttonOpen {
        position: fixed;
        bottom: 2%;
        z-index: 99;
        height: 50px;
        width: 250px;
        left: calc(100% - 74%)    
    }
}