.fondForm {
    position: absolute;
    left: 31%;
    top: 2%;
    height: 100%;

    
    #crossForm {
        cursor: pointer;
        font-weight: bold;
        font-size: 50px;
        color: white;
        position: absolute;
        right: 8%;
        top: 4%;
    }
}

form {
    position: fixed;
    width: 669px;
    height: 778px;
    background-color: #DB8876;
    padding: 20px;

    h1{
        font-size: 80px;
        font-weight: normal;
    }

    div {
        display: flex;
        flex-direction: column;

        h2{
            font-size: 80px;
            font-weight: normal;
        }

    label {
        font-size: 30px;
        font-weight: 400;
        padding-top: 20px;
    }

    input {
        height: 50px;
        padding-left: 10px;
        font-size: x-large;
    }

    textarea {
        font-size: x-large;
        padding-top: 10px;
        height: 100px;
        padding-left: 10px;
    }

    button{
        cursor: pointer;
        width: 170px;
        height: 69px;
        border-radius: 5px;
        color: white;
        border: none;
        font-size: 22px;
        background-color: $primary-color;
        margin-top: 20px;
        align-self: center;
    }

    button:hover{
        background-color: $secondary-color;
    }
    }
}

.bgroundForm {
    p {
        position: fixed;
        background-color: #DB8876;
        left: 30%;
        right: 30%;
        top: 7%;
        padding-bottom: 150px;
        padding-top: 30px;
        text-align: center;
    }

    .button{
        position: fixed;
        left: 46%;
        top: 18%;
        cursor: pointer;
        width: 170px;
        height: 69px;
        border-radius: 5px;
        color: white;
        border: none;
        font-size: 22px;
        background-color: $primary-color;
        margin-top: 20px;
        align-self: center;
    }

}

