.medias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 72%;
    justify-self: center;
    margin: auto;
    margin-top: 50px;

    .card_media {
        position: relative;
        padding-bottom: 40px;
        margin-bottom: 100px;

        h4 {
            color: $primary-color;
            font-weight: bold;
            font-size: 20px;
            position: absolute;
            left: 0%;
            bottom: 0%;
        }

        div {
            display: flex;
            position: absolute;
            right: 0%;
            bottom: 0%;
        }

        span {
            color: $primary-color;
            font-weight: bold;
            font-size: 20px;
        }

        svg {
            width: 20px;
            height: 20px;
            padding-left: 10px;
            color: $primary-color;
        }
    }

    img, video {
        width: 350px;
        height: 300px;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
    }

    #clickforlikes {
        cursor: pointer;
    }
    
    
}

@media screen and (max-width: 900px) {
    .medias img, .medias video {
        height: 190px;
    }
}