.medias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 73%;
    justify-self: center;
    margin-left: 13%;

    .card_media {
        position: relative;
        padding-bottom: 40px;
        margin-bottom: 100px;

        p {
            color: $primary-color;
            font-weight: bold;
            font-size: 28px;
            position: absolute;
            left: 0%;
            bottom: 0%;
        }

        div {
            display: flex;
            width: 50px;
            position: absolute;
            right: 0%;
            bottom: 0%;
        }

        span {
            color: $primary-color;
            font-weight: bold;
            font-size: 28px;
        }
    }

    img {
        width: 350px;
        height: 300px;
        border-radius: 5px;
        object-fit: cover;
    }
    
}