.medias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 73%;
    justify-self: center;
    margin-left: 13%;

    .card_media {
        position: relative;
        padding-bottom: 40px;
        margin-bottom: 100px;

        p {
            color: $primary-color;
            font-weight: bold;
            font-size: 28px;
            position: absolute;
            left: 0%;
            bottom: 0%;
        }

        div {
            display: flex;
            width: 50px;
            position: absolute;
            right: 0%;
            bottom: 0%;
        }

        span {
            color: $primary-color;
            font-weight: bold;
            font-size: 28px;
        }
    }

    img, video {
        width: 350px;
        height: 300px;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
    }
    
    
}

.bground{
    width: 100%;
    height: 100%;
}

.slider {
    display: none;
    position: fixed;
    left: 7%;
    right: 7%;
    top: 7%;
    bottom: 5%;
    overflow: auto;
  }

  .prev-slide:after{
    content: "\276C";
    color: black;
	display: block;
	position: absolute;
	padding: 2rem;
    font-size: 15rem;
    font-weight: bold;
	height: 10rem;
	line-height: 10rem;
	top: 50%;
	transform: translate3d(0, -50%, 0);
    cursor: pointer;
    left: 0%;
  }

  .next-slide:after{
    content: "\276D";
    color: black;
	display: block;
	position: absolute;
	padding: 2rem;
    font-size: 15rem;
    font-weight: bold;
	height: 10rem;
	line-height: 10rem;
	top: 50%;
	transform: translate3d(0, -50%, 0);
    cursor: pointer;
    right: 0%;
  }


