#likes_and_price {
    position: fixed;
    width: 376px;
    height: 89px;
    right: 0;
    bottom: 0;
    background-color: #DB8876;
    display: flex;
    justify-content: space-around;
    align-items: center;

    div {
        font-weight: bold;
        font-size: 25px;
        padding-right: 10px;
    }

    p {
        font-weight: bold;
        font-size: 25px;
    }
}