
.bground{
    width: 100%;
    height: 100%;
}

.slider {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    background-color: white;
    padding: 50px;

    .display{

        width: 100%;
        video {
            width: 70%;
            height: 80%;
            position: absolute;
            right: 0%;
            left: 15%;
            top: 9%;
            bottom: 0%;
        }
    
        img {
            max-width: 70%;
            max-height: 70vh;
            display: block;
            margin: auto;
            object-fit: cover;
        }



    }

    #cross {
        position: absolute;
        padding: 10px;
        top: 2%;
        right: 13%;
        color: $primary-color;
        font-weight: bold;
        font-size: 50px;
        cursor: pointer;
    }

    .prev-slide:after{
        content: "\276C";
        color: $primary-color;
        padding: 2rem;
        font-size: 10rem;
        font-weight: bold;
        height: 10rem;
        line-height: 10rem;
        transform: translate3d(0, -50%, 0);
        cursor: pointer;
      }
    
      .next-slide:after{
        content: "\276D";
        color: $primary-color;
        padding: 2rem;
        font-size: 10rem;
        font-weight: bold;
        height: 10rem;
        line-height: 10rem;
        transform: translate3d(0, -50%, 0);
        cursor: pointer;
      }

      p {
          position: absolute;
          color: $primary-color;
          left: 15%;
          bottom: 5%;
          font-weight: bold;
          font-size: 28px;
      }
  }

  @media screen and (max-width: 900px) {

  .slider .prev-slide:after{
      padding: 0;
      font-size: 2rem;
  }

  .slider .next-slide:after{
    padding: 0;
    font-size: 2rem;
  }

  .slider #cross{
      top: 18%;
      right: 12%;
      font-size: 25px;
  }

  .slider p{
      font-size: 15px;
  }

}
  


